<p id="notice"><%= notice %></p>

<h1>Garden Layouts</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Data</th>
      <th>Compeleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @garden_layouts.each do |garden_layout| %>
      <tr>
        <td><%= garden_layout.id %></td>
        <td><%= garden_layout.data %></td>
        <td><%= garden_layout.compeleted %></td>
        <td><%= link_to 'Show', garden_layout %></td>
        <td><%= link_to 'Edit', edit_garden_layout_path(garden_layout) %></td>
        <td><%= link_to 'Destroy', garden_layout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garden Layout', new_garden_layout_path %>
